body {
  width: 100%;
  height: 100vh;
  margin: 0;
}

body .container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .container .containerLeft {
  width: 80%;
  height: 100%;
}

body .container .containerLeft iframe {
  width: 100%;
  height: 99%;
  border: 0;
}

body .container .containerRight {
  width: 20%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container .containerRight .cr-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .containerRight .cr-position .crp-paragraphe1 {
  text-align: center;
  margin: 0;
}

body .container .containerRight .cr-position .crp-paragraphe2 {
  text-align: center;
  margin: 10px 0 20px 0;
}

body .container .containerRight .cr-position .button {
  width: 50%;
  background-color: #aadaff;
  border: none;
  border-radius: 15px;
  padding: 10px 5px;
}

body .container .containerRight .cr-position #demo {
  text-align: center;
  margin-top: 50px;
}
